tr,
td,
th {
  margin: 0 !important;
  border: 1px solid !important;
  border-color: blue !important;
  padding: 1px !important;
  text-align: center;
}

.textoTabela {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.textoLabels {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
}

input[type="text"] {
  width: 45%;
}

.warning{
  color:red !important;
}

.information{
  color:#00B0F0 !important;
}

.textoValidar{
  color:#00B050 !important;
}

.submitButton {
  background-color: #00af50 !important;
  border: none !important;
  color: white !important;
  padding: 8px 20px !important;
  text-decoration: none !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
